//theme accent colors
//theme 1
$primary: #D05353;
$secondary: #0FA3B1;

//theme 2
$primary: #3590F3;
$secondary: #D64045;

//theme 3
$primary: #57A773;
$secondary: #2892D7;

//theme 4
$primary: #3E92CC;
$secondary: #CC76A1;
